.text-yiq-back {
	color: #212529 !important
}

.text-back {
	color: #fff !important
}

.text-yiq-primary {
	color: #212529 !important
}

.vanish-measuring {
	opacity: 0
}

	.vanish-measuring, .vanish-measuring * {
		-webkit-transition: none !important;
		transition: none !important
	}

		.vanish-measuring .vanish {
			-webkit-transform: none;
			transform: none
		}

.vanish-measured {
	-webkit-transition: opacity .5s linear .7s !important;
	transition: opacity .5s linear .7s !important
}

.vanish-box {
	-webkit-transition: opacity .5s linear .7s;
	transition: opacity .5s linear .7s
}

	.vanish-box .vanish {
		overflow: hidden !important;
		white-space: nowrap;
		-webkit-transition: width 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5),padding 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5),margin 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5),border 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5);
		transition: width 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5),padding 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5),margin 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5),border 0.7s cubic-bezier(0.55, 0.73, 0.2, 1.5)
	}

	.vanish-box.vanish-fast .vanish {
		-webkit-transition: width 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5),padding 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5),margin 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5),border 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5);
		transition: width 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5),padding 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5),margin 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5),border 0.5s cubic-bezier(0.55, 0.73, 0.2, 2.5)
	}

	.vanish-box:not(:hover):not(:focus-within):not(.vanish-measuring) .vanish {
		margin: 0 !important;
		width: 0 !important;
		padding: 0 !important;
		border: 0 !important
	}

.cursor-pointer {
	cursor: pointer
}

.over-auto {
	overflow: auto !important
}

.over-hidden {
	overflow: auto !important
}

.dropdown-toggle--no-after::after {
	display: none !important
}

.d-block-weak {
	display: block
}

.vis-hidden {
	visibility: hidden
}

.bg-darker {
	background-color: #222
}

.bg-theme-gradient {
	background-image: -webkit-gradient(linear, left top, right top, from(#285fb9), to(#7535ad)) !important;
	background-image: linear-gradient(to right, #285fb9, #7535ad) !important
}

.bg-theme-gradient-left {
	background-image: -webkit-gradient(linear, right top, left top, from(#285fb9), to(#7535ad)) !important;
	background-image: linear-gradient(to left, #285fb9, #7535ad) !important
}

.bg-theme-gradient-top {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#285fb9), to(#7535ad)) !important;
	background-image: linear-gradient(to top, #285fb9, #7535ad) !important
}

.bg-theme-gradient-bottom {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#285fb9), to(#7535ad)) !important;
	background-image: linear-gradient(to bottom, #285fb9, #7535ad) !important
}

.shadow-dynamic {
	-webkit-box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.15) !important;
	box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.15) !important;
	-webkit-transition: -webkit-box-shadow .3s ease-in-out;
	transition: -webkit-box-shadow .3s ease-in-out;
	transition: box-shadow .3s ease-in-out;
	transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

	.shadow-dynamic:hover, .shadow-dynamic:focus-within {
		-webkit-box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.15) !important;
		box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.15) !important
	}

.shadow-dynamic-lg {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
	-webkit-transition: -webkit-box-shadow .3s ease-in-out;
	transition: -webkit-box-shadow .3s ease-in-out;
	transition: box-shadow .3s ease-in-out;
	transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

	.shadow-dynamic-lg:hover, .shadow-dynamic-lg:focus-within {
		-webkit-box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.35) !important;
		box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.35) !important
	}

@media (max-width: 576px) {
	nav.navbar {
		padding: .75rem 1rem
	}
}

nav.navbar {
	padding: 0
}

	nav.navbar .nav-i {
		font-size: 1.5rem;
		-webkit-transition: font-size .4s ease-in-out;
		transition: font-size .4s ease-in-out
	}

.chatboxes-fixed {
	position: fixed;
	bottom: 0;
	right: 5vw
}

	.chatboxes-fixed .chatboxes-fixed-window {
		border-radius: 1rem 1rem 0rem 0;
		background-color: #7535ad;
		width: 17.5rem;
		float: left;
		margin: 0 .5rem
	}

		.chatboxes-fixed .chatboxes-fixed-window * {
			-webkit-transition: height .3s;
			transition: height .3s
		}

		.chatboxes-fixed .chatboxes-fixed-window.chatbox-fixed-window--closed .chatbox-body {
			height: 0
		}

		.chatboxes-fixed .chatboxes-fixed-window.chatbox-fixed-window--closed .chatbox-form, .chatboxes-fixed .chatboxes-fixed-window.chatbox-fixed-window--closed .chatbox-form * {
			height: 0
		}

		.chatboxes-fixed .chatboxes-fixed-window .chatbox-header {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding: .2rem 1rem;
			cursor: pointer
		}

			.chatboxes-fixed .chatboxes-fixed-window .chatbox-header .chatbox-dismiss {
				margin-left: auto
			}

				.chatboxes-fixed .chatboxes-fixed-window .chatbox-header .chatbox-dismiss.fas {
					display: block;
					margin-top: auto;
					margin-bottom: auto
				}

				.chatboxes-fixed .chatboxes-fixed-window .chatbox-header .chatbox-dismiss:not(:hover) {
					color: rgba(255,255,255,0.7)
				}

		.chatboxes-fixed .chatboxes-fixed-window .chatbox-body {
			background-color: #fff;
			color: #212529;
			height: 40vh;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			border-left: #7535ad 3px solid !important;
			border-right: #7535ad 3px solid !important
		}

			.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat {
				overflow: auto;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				padding-bottom: .5rem;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column
			}

				.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message {
					width: 100%;
					display: block
				}

					.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message .chatbox-message-body {
						max-width: 70%;
						display: inline;
						margin: .1rem 1rem;
						padding: .4rem;
						position: relative
					}

						.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message .chatbox-message-body::before {
							content: '';
							z-index: 99999;
							position: absolute;
							top: 0;
							height: 1rem;
							width: 1rem;
							-webkit-clip-path: polygon(0 0, 0 100%, 100% 0%);
							clip-path: polygon(0 0, 0 100%, 100% 0%);
							display: none
						}

					.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self + .chatbox-message--other, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other + .chatbox-message--self, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self:first-of-type, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other:first-of-type {
						margin-top: .3rem
					}

						.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self + .chatbox-message--other.chatbox-message--self .chatbox-message-body, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other + .chatbox-message--self.chatbox-message--self .chatbox-message-body, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self:first-of-type.chatbox-message--self .chatbox-message-body, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other:first-of-type.chatbox-message--self .chatbox-message-body {
							border-radius: 1rem 0rem 1rem 1rem
						}

						.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self + .chatbox-message--other.chatbox-message--other .chatbox-message-body, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other + .chatbox-message--self.chatbox-message--other .chatbox-message-body, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self:first-of-type.chatbox-message--other .chatbox-message-body, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other:first-of-type.chatbox-message--other .chatbox-message-body {
							border-radius: 0rem 1rem 1rem 1rem
						}

						.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self + .chatbox-message--other .chatbox-message-body::before, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other + .chatbox-message--self .chatbox-message-body::before, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self:first-of-type .chatbox-message-body::before, .chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other:first-of-type .chatbox-message-body::before {
							display: block
						}

					.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self .chatbox-message-body {
						float: right;
						background-color: #7535ad;
						color: #fff;
						border-radius: 1rem
					}

						.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--self .chatbox-message-body::before {
							left: unset;
							right: 0;
							-webkit-transform: translateX(90%);
							transform: translateX(90%);
							background-color: #7535ad
						}

					.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other .chatbox-message-body {
						float: left;
						background-color: #212529;
						color: #fff;
						border-radius: 1rem
					}

						.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat .chatbox-message.chatbox-message--other .chatbox-message-body::before {
							left: 0;
							-webkit-transform: translateX(-90%) rotateY(180deg);
							transform: translateX(-90%) rotateY(180deg);
							background-color: #212529
						}

				.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat::-webkit-scrollbar {
					width: 6px
				}

					.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat::-webkit-scrollbar:hover {
						opacity: 1
					}

				.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat::-webkit-scrollbar-thumb {
					background: #888;
					border-radius: 3px
				}

					.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-chat::-webkit-scrollbar-thumb:hover {
						background: #555
					}

			.chatboxes-fixed .chatboxes-fixed-window .chatbox-body .chatbox-form {
				border-top: #7535ad 2px solid;
				background-color: #fff
			}

@media only screen and (max-width: 768px) {
	.chatboxes-fixed {
		display: none
	}
}

.slider .slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem
}

.slider > button {
	position: absolute;
	top: 50%
}

	.slider > button:first-of-type {
		left: 0;
		-webkit-transform: translate(-100%, -50%);
		transform: translate(-100%, -50%)
	}

	.slider > button:not(first-of-type) {
		right: 0;
		-webkit-transform: translate(100%, -50%);
		transform: translate(100%, -50%)
	}

.slider.slider--center .slick-slide {
	-webkit-transition: -webkit-transform .3s ease-in-out, -webkit-filter .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out, -webkit-filter .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
	transition: transform .3s ease-in-out, filter .3s ease-in-out, box-shadow .3s ease-in-out;
	transition: transform .3s ease-in-out, filter .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out, -webkit-filter .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

	.slider.slider--center .slick-slide:not(.slick-current) {
		-webkit-transform: translateY(0%) scale(0.9);
		transform: translateY(0%) scale(0.9);
		-webkit-filter: brightness(90%);
		filter: brightness(90%);
		-webkit-box-shadow: none !important;
		box-shadow: none !important
	}

.slider .slider-dots {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0
}

	.slider .slider-dots li {
		list-style-type: none;
		padding: 0 .5rem;
		display: inline-block
	}

		.slider .slider-dots li button {
			color: transparent;
			width: 1.75rem;
			border: none;
			font-size: 0;
			margin: 0;
			height: .30rem;
			border-radius: .15rem
		}

			.slider .slider-dots li button:focus {
				outline: none
			}

		.slider .slider-dots li.slick-active button {
			background-color: #999
		}

.loading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

	.loading .loading-item {
		margin-left: 1rem;
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		float: left
	}

@-webkit-keyframes a {
	0% {
	}

	100% {
		-webkit-box-shadow: 0 0 1rem #7535ad;
		box-shadow: 0 0 1rem #7535ad;
		-webkit-transform: scale(1.1) rotateX(45deg);
		transform: scale(1.1) rotateX(45deg)
	}
}

@keyframes a {
	0% {
	}

	100% {
		-webkit-box-shadow: 0 0 1rem #7535ad;
		box-shadow: 0 0 1rem #7535ad;
		-webkit-transform: scale(1.1) rotateX(45deg);
		transform: scale(1.1) rotateX(45deg)
	}
}

.loading .loading-item:nth-of-type(1) {
	-webkit-animation: a 1s ease-in-out 0s infinite alternate;
	animation: a 1s ease-in-out 0s infinite alternate
}

.loading .loading-item:nth-of-type(2) {
	-webkit-animation: a 1s ease-in-out .2s infinite alternate;
	animation: a 1s ease-in-out .2s infinite alternate
}

.loading .loading-item:nth-of-type(3) {
	-webkit-animation: a 1s ease-in-out .4s infinite alternate;
	animation: a 1s ease-in-out .4s infinite alternate
}

.loading .loading-item:nth-of-type(4) {
	-webkit-animation: a 1s ease-in-out .6s infinite alternate;
	animation: a 1s ease-in-out .6s infinite alternate
}

.loading .loading-item:nth-of-type(5) {
	-webkit-animation: a 1s ease-in-out .8s infinite alternate;
	animation: a 1s ease-in-out .8s infinite alternate
}

.shadow-liftable {
	-webkit-transition: -webkit-box-shadow .5s ease-in-out;
	transition: -webkit-box-shadow .5s ease-in-out;
	transition: box-shadow .5s ease-in-out;
	transition: box-shadow .5s ease-in-out, -webkit-box-shadow .5s ease-in-out
}

	.shadow-liftable:hover, .shadow-liftable:focus-within {
		-webkit-box-shadow: 0 2rem 2rem rgba(0,0,0,0.175) !important;
		box-shadow: 0 2rem 2rem rgba(0,0,0,0.175) !important
	}

.img-dropper {
	min-height: 200px
}


.dark-mode-toggler {
	width: 2.5rem;
	padding: 0 !important;
	height: 1.5rem;
	border-radius: .75rem;
	padding: 0;
	background-color: #41c2f5;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: none
}

	.dark-mode-toggler::before, .dark-mode-toggler::after {
		content: '';
		height: 1rem;
		width: 1rem;
		position: absolute;
		top: 0;
		z-index: 0;
		border-radius: 50%
	}

	.dark-mode-toggler::before {
		left: 0;
		-webkit-transform: translate(-30%, -30%);
		transform: translate(-30%, -30%);
		background-color: yellow;
		z-index: 0
	}

	.dark-mode-toggler::after {
		background-color: #eee;
		right: 0;
		-webkit-transform: translate(100%, -100%);
		transform: translate(100%, -100%);
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out
	}

	.dark-mode-toggler .dark-mode-toggler-switch {
		height: 1.5rem;
		width: 1.5rem;
		background-color: #dfdede;
		border-radius: 50%;
		margin-left: 1rem;
		z-index: 200;
		-webkit-transition: margin-left .2s ease-in-out;
		transition: margin-left .2s ease-in-out;
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out
	}

	.dark-mode-toggler.dark-mode-toggler--dark {
		background-color: black
	}

		.dark-mode-toggler.dark-mode-toggler--dark::before {
			-webkit-transform: translate(-100%, -100%);
			transform: translate(-100%, -100%)
		}

		.dark-mode-toggler.dark-mode-toggler--dark::after {
			-webkit-transform: translate(30%, -30%);
			transform: translate(30%, -30%)
		}

		.dark-mode-toggler.dark-mode-toggler--dark .dark-mode-toggler-switch {
			margin-left: 0
		}
/*# sourceMappingURL=loadImages.css.map */
